<!DOCTYPE html>
<html xmlns:th="http://www.thymwleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<title>Logout</title>
</head>
<body>

	<div class="container text-center">
		<h2 >Logout home</h2>



	</div>
	<a th:href="@{/}">Home</a>

</body>
</html>